.header {
    height: 50px;
    width: 100%;
    background-color: #24cef0;
    position: fixed;
}

.menu1 {
    margin-top: 10px;
    margin-left: 80px;
    font-size: 20px;
    width: 400px;
    float: left;
    color: black;

}

.menu2 {
    margin-top: 10px;
    margin-right: 80px;
    font-size: 20px;
    width: 100px;
    float: right;
    color: black;
}

.menu3 {
    margin-top: 10px;
    margin-right: 80px;
    font-size: 20px;
    width: 70px;
    float: right;
    color: black;
}

.right {
    float: right;
}

.color {
    background-color: #f1f1f1;
}

.margin {
    margin-right: 100px;
}


body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f5f5f5;
    opacity: 0.9;
    scroll-behavior: auto;
}

input[type=text],
input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}



.cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
}

.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
    position: relative;
}



.container {
    padding: 16px;
}

span.psw {
    float: right;
    padding-top: 16px;
}

/* The Modal (background) */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
    padding-top: 60px;
}

.modal-content {
    background-color: #fefefe;
    margin: 5% auto 15% auto;
    border: 1px solid #888;
    width: 80%;
}

.close {
    position: absolute;
    right: 25px;
    top: 0;
    color: #000;
    font-size: 35px;
    font-weight: bold;
    cursor: pointer;
}

.job {
    /* min-height: 180px; */
    width: 700px;
    border-radius: 10px;
    float: right;
    margin-right: 310px;
}

.job2 {
    /* background-color: red; */
    min-height: 180px;
    width: 700px;
    border-radius: 10px;
    float: right;
    margin-right: 100px;
}

.detaills {
    background-color: white;
    height: 140px;
    width: 100%;
    border: 3px solid #f8f9fc;
    border-top-left-radius: 9px;
    border-top-right-radius: 9px;
}

.detaills_ {
    background-color: white;
    height: 230px;
    width: 100%;
    border: 3px solid #f8f9fc;

    border-top-left-radius: 9px;
    border-top-right-radius: 9px;
}

.apply {
    background-color: #f8f9fc;
    height: 40px;
    width: 100%;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border: 3px solid #f8f9fc;
}

.ap1 {
    float: right;
    margin-right: 14px;
    margin-top: 10px;
    background-color: transparent;
    border-width: 0px;

}

.ap2 {
    float: left;
    margin-left: 14px;
    margin-top: 10px;
    background-color: transparent;
    border-width: 0px;

}

.logo {
    width: 100px;
    height: 100px;
    border: 3px solid pink;
    margin-left: 40px;
    margin-top: 18px;
    border-radius: 10px;
    float: left;
}

.description {
    float: left;
    margin-top: 27px;
    margin-left: 18px;
    width: 70%;
}

.span2 {
    font-size: 14px;
    margin-left: 30px;
}

.span1 {
    font-size: 18px;
}

.filter {
    width: 240px;
    /* background-color: #f44336; */
    height: 300px;
    float: left;
    margin-left: 30px;

}


.filter2 {
    margin-top: 30px;
    font-size: 18px;
}

.filter3 {
    margin-left: 20px;
}



.select {
    width: 200px;
    border-radius: 10px;
    font-size: 17px;
}


.logo_ {
    width: 40px;
    height: 40px;
    border: 3px solid pink;
    margin-left: 40px;
    margin-top: 18px;
    border-radius: 10px;
    float: left;
}


.span1_ {
    font-size: 14px;
}

.filter_ {
    width: 240px;
    height: 300px;
    float: right;
    margin-left: 30px;

}

.filter3_ {
    width: 100px;
    margin-left: 30px;

}

.filter2_ {
    margin-top: 20px;
    font-size: 18px;
    margin-left: 20px;
}